:root {
  --main-font: "Bebas Neue", cursive;
  --color-background: rgba(19, 19, 19, 0.945);
  --color-bleu: #18508c;
  --color-blanc: #f7f0eb;
  --color-rouge: #ae3c29;
  --spd-easeout: cubic-bezier(0.39, 0.575, 0.565, 1);
  --spd-easeout2: cubic-bezier(0.19, 1, 0.22, 1);
}
